<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Suifeng Wudong's Website</title>
	</head>
	<body>
        <div class="hrefs">
            <a href="/">主站点</a>
            <a href="/about">关于个人</a>
            <a href="/notes">笔记</a>
        </div>
        <div class="about-main-content" id="about-main-content">
            <p>你好！我是一个热爱编程和技术的开发者。</p>
            <p>我喜欢探索新的技术和工具，并将它们应用到实际项目中。</p>
            <p>在业余时间，我喜欢阅读技术书籍以及参与开源项目。</p>
            <p>如果你对我的工作感兴趣，欢迎通过以下方式联系我（Contact Me）：</p>
            <ul>
                <li>电子邮件 (Email): HCXCNC@outlook.com</li>
                <li>GitHub: <a href="https://github.com/suifengwudong">https://github.com/suifengwudong</a></li>
            </ul>
        </div>
    </body>
</html>

