---
---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Suifeng Wudong's Website</title>
	</head>
	<body>
		<div class="hrefs">
            <a href="/">主站点</a>
            <a href="/about">关于个人</a>
            <a href="/notes">笔记</a>
        </div>
		<main>
			<h1>随风舞动的 Github 博客</h1>
			<div class="technology-stack-intro">
				<p>这是一个使用 Astro 框架构建的个人博客，托管在 GitHub Pages 上。</p>
				<p>主要内容为笔记，使用 typst 渲染解析</p>	
			</div>
			<div>
				<!--object data="/sample.svg" type="image/svg+xml" width="100%"-->
			</div>
		</main>
	</body>
</html>